.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-container {
  max-width: 600px;
  margin: 45px auto;
}

.container {
  text-align: center;
  color: #777777;
  font-family: "Noto Serif", serif;
  font-family: "Poppins", sans-serif;

  border: 1.5px;
  border-style: solid;
  border-radius: 10px;
  border-color: #c5c5c5;
  box-shadow: 3px 3px 3px 3px #d8d7d7;

  padding-bottom: 15px;
}
.App {
  margin: 15px;
  
}
.footer {
  margin-top: 0px;
}
