.material-icons {
  position: relative;
  margin-right: 0px;
  margin-left: 35px;
  margin-bottom: 10px;
}

.temp {
  margin-left: 0px;
}

h2 {
  font-size: 52px;
  margin-top: 5px;
}

.units {
  position: relative;
  font-size: 18px;
  bottom: 25px;
  margin-left: 0px;
}
.col-6 {
  font-size: 15px;
  text-transform: capitalize;
}
