canvas {
  position: relative;
  margin-right: 5px;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: -15px;
}

.temp {
  position: relative;
  margin-left: 0px;
  margin-bottom: 5px;
  
}

h2 {
  font-size: 52px;
  margin-top: 5px;
}

.units {
  position: relative;
  font-size: 18px;
  bottom: 25px;
  margin-left: 0px;
  text-decoration: none;
}
.col-6 {
  font-size: 15px;
  text-transform: capitalize;
}
